@{
    ViewBag.Title = "About";
}
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-5">
				<div class="about_img">
					<img class="" src="../img/cuidador-de-idosos-png-4.png" alt="" />
				</div>
			</div>

			<div class="offset-lg-1 col-lg-5">
				<div class="main_title text-left">

					<h2>
						Sobre nós
					</h2>
					<p>
						A ideia por trás do Aliah é criar um sistema que faça o intermédio entre o Cuidador autônomo e a pessoa que necessita de seus serviços. Originalmente, o grupo Aliah tinha a intenção de elaborar um sistema apenas para idosos que necessitavam de cuidados, mas com o passar do tempo, o grupo resolveu expandir os horizontes e abranger outras áreas relacionadas ao Cuidado de Pessoas, como babás, enfermeiros, fisioterapeutas e outros.
					</p>
					<a class="primary_btn" href="#"><span>Encontrar Cuidador</span></a>
				</div>
			</div>
		</div>
	</div>
</section>