@{
	ViewBag.Title = "Index";
}



<!--================ Começo de uma explicação do que é o aliah e uma imagem a esquerda =================-->
<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="banner_content">
							<h1 class="text-uppercase">Aliah</h1>
							<h3 class="text-uppercase">Encontre profissionais para te apoiar no cuidado de familiares </h3>
							<h5 style="font-size: 15px" class="text-uppercase">Babás,cuidadores de idosos e enfermeiros </h5>
							<div class="social_icons my-5">
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-skype"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
								<a href="#"><i class="fab fa-facebook"></i></a>
							</div>
							<a class="primary_btn" href="~/Home/Profissional"><span>Contratar profissional</span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="home_right_img">
							<img class="img-fluid embed-responsive" style="height: 600px; width: 600px" src="~/img/banner/enfermeira.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!--================ Fim de uma explicação do que o aliah e uma imagem a esquerda =================-->
<!--================ Começo Statistics Area =================-->
<section class="statistics_area">
	<div class="container">
		<div class="row justify-content-lg-start justify-content-center">
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">3.000</span></h3>
					<p>Profissionais</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">15</span>+</h3>
					<p>Especialidades</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<div class="statistics_item">
					<h3><span class="counter">8.000</span></h3>
					<p>Usuários</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ Fim Statistics Area =================-->
<!--================ Começo dos comentarios =================-->
<div class="container mt-2">
	<hr />
	<h1 class="text-center">Como Funciona</h1>
	<h3>Se você procura um cuidador</h3>
	<div class="row pt-5 m-auto">
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(~/img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/banner/idoso2.png" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Procure um cuidador</h4>
					<p class="card-text">Use os filtros disponiveis e encontre o cuidador que atenda suas necessidades.</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Contratar"><span>Contratar profissional</span></a>
				</div>
			</div>
			<!-- Copy until here -->
		</div>
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/etica-profissional-na-saude-hd-png-download.png" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Cadastre-se</h4>
					<p class="card-text">Cadastre-se para ter acesso ao perfil completo do cuidador e entrar em contato.</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Cadastrar"><span>Cadastre-se</span></a>
				</div>
			</div>
			<!-- Copy until here -->
		</div>
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/services/mds1.png" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Compre créditos</h4>
					<p class="card-text">
						Você começa com 5 créditos e a cada perfil acessado debita 1 crédito.
						Veja nossos planos!
					</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Planos"><span>Compre créditos</span></a>
				</div>
			</div>
			<!-- Copy until here -->
		</div>
	</div>
	<br />
	<h3>Se você é um cuidador</h3>
	<div class="row pt-5 m-auto">
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/unnamed.png" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Cadastre-se</h4>
					<p class="card-text">
						Envie seus documentos pelo site e realize uma entrevista presencial.x
						Começe ja!
					</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Cadastrar"><span>Cadastre-se</span></a>
				</div>
			</div>
			<!-- Copy until here -->
		</div>
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/money.png" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Escolha um plano</h4>
					<p class="card-text">Ápos o periodo de teste grátis, escolha um plano e continue ativo no site.</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Planos"><span>Assinar plano</span></a>
				</div>
			</div>
			<!-- Copy until here -->
		</div>
		<div class="col-md-6 col-lg-4 pb-3 text-center">

			<!-- Copy the content below until next comment -->
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img" style="background-image: url(img/banner/common-banner.png);"></div>
				<div class="card-custom-avatar">
					<img class="img-fluid" style="height:200px; width:200px" src="~/img/personagem.jpg" alt="Avatar" />
				</div>
				<div class="card-body" style="overflow-y: auto">
					<h4 class="card-title">Converse com clientes</h4>
					<p class="card-text">Pronto! Agora é só esperar os clientes entrarem em contato.</p>
				</div>
				<div class="card-footer text-center" style="background: inherit; border-color: inherit;">
					<a class="primary_btn" href="~/Home/Cadastrar"><span>Cadastre-se</span></a>

				</div>
			</div>
			<!-- Copy until here -->
		</div>
	</div>
</div>

<!--================ Fim do quem somos =================-->
<!--================ Começo dos comentarios =================-->
<section class="testimonial_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title">
					<h2>Comentários</h2>
				</div>
			</div>
		</div>

		<div class="owl-carousel owl-theme testimonial-slider ">
			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="~/img/testimonials/mulher1.jpg" alt="" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Juliana Oliveira</h4>

							<p>Ótimo serviço! Funcionários de alta qualidade e prontos para ajudar no que for necessário. </p>
							<ul class="star_rating mt-4">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<!--================<li class="disable"><span><i class="fas fa-star"></i></span></li>=================-->

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="~/img/testimonials/testimonial1.png" alt="" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Nicolas Rocha</h4>

							<p>Funcionários excelentes e um serviço atencioso, era tudo o que faltava aqui na região. </p>
							<ul class="star_rating mt-3">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li class="disable"><span><i class="fas fa-star"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonial-item">
				<div class="row">
					<div class="col-lg-6">
						<div class="testi-img mb-4 mb-lg-0">
							<img src="~/img/testimonials/mulher2.jpg" alt="" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="testi-right">
							<h4>Tamires Proença</h4>

							<p>Deixou algumas coisas a desejar, porém fiquei satisfeita com o atendimento e a atenção que recebi. </p>
							<ul class="star_rating mt-3">
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li><span><i class="fas fa-star"></i></span></li>
								<li class="disable"><span><i class="fas fa-star"></i></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ Fim dos comentários =================-->
<!--================ Começo dos patrocinadores =================-->
<section class="brands-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<h2 class="text-uppercase">Patrocinadores</h2>
			</div>

			<div class="col-lg-12">
				<br />
				<br />
				<div class="owl-carousel brand-carousel">
					<!-- Patrocinador -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo1.png" alt="" />
						</div>
					</div>
					<!-- Patrocinador-->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo2.png" alt="" />
						</div>
					</div>
					<!-- Patrocinador -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo3.png" alt="" />
						</div>
					</div>
					<!-- Patrocinador -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo4.png" alt="" />
						</div>
					</div>
					<!-- Patrocinador -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo5.png" alt="" />
						</div>
					</div>
					<!-- Patrocinador -->
					<div class="single-brand-item d-table">
						<div class="d-table-cell">
							<img src="~/img/brands/logo3.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ Fim dos patrocinadores =================-->
