@model VaiCaralhoMVC.Models.Usuario


@{
	Layout = "~/Views/Shared/_PartialProfissional.cshtml";
}

<div class="col-md-10 text-center">
	<img src="~/img/testimonials/testimonial-bg2.png" class="img-responsive" />

</div>




