

@{
	Layout = "~/Views/Shared/_PartialCliente.cshtml";
}

<div class="col-md-10 text-center">
	<img src="~/img/testimonials/testimonial-bg3.png" class="img-responsive" />

</div>






